<!DOCTYPE html>
<html lang="ja">
  <head>
    <!-- titleを変更します -->
    <title>SNS App</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <!-- Style追加 -->
    <link rel="stylesheet" href="<%= mix('/css/app.css') %>">
    <!-- Javascript追加 -->
    <script src="<%= mix('/js/bootstrap.js') %>"></script>
  </head>

  <body>
    <!-- Javascript追加 -->
      <%= yield %>
    <script src="<%= mix('/js/app.js') %>"></script>
  </body>
</html>